@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #dadada;
  box-sizing: border-box;
}
.material-icons{
  color: #dadada;
}
a{
  text-decoration: none;
}
input[type="color" i] {
  border: none;
  outline: none;
  appearance: none;
}
#root{
  width: 100%;
  height: 100vh;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.App {
  height: 100vh;
  width: 100%;
  background: #160024;
}

.search-panel__clear{
 background-color: #7D16BF;
 border: none;
 padding: 10px 15px;
}
/* ***************** */


