@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #dadada;
  box-sizing: border-box;
}
.material-icons{
  color: #dadada;
}
a{
  text-decoration: none;
}
input[type="color" i] {
  border: none;
  outline: none;
  appearance: none;
}
#root{
  width: 100%;
  height: 100vh;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.App {
  height: 100vh;
  width: 100%;
  background: #160024;
}
.panels{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 10px auto;
  width: 60%;
  margin-bottom: 20px;
}


/* ***************** */


.inputs-wrap__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  transform: translateY(25px);
  color: #e2e2e2;
  transition: all 0.5s;
}

.inputs-wrap__text-inputs{
  position: relative;
  background: transparent;
  color: #dadada;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0;
  font-size: 16px;
}

.inputs-wrap {
  width: 100%;
  padding: 30px 0 0 0;
  position: relative;
}

.inputs-wrap:after, .inputs-wrap:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e2e2e2; 
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.inputs-wrap::after {
  background-color: #7D16BF;
  transform: scaleX(0);
}

.is-active::after {
  transform: scaleX(1);
}

.is-active .inputs-wrap__label, .is-active .panel-icon {
  color: #7D16BF;
}

.is-completed .inputs-wrap__label {
  font-size: 12px;
  transform: translateY(0);
}

.todolist__add-form{
  display: flex;
  margin: 0 auto;
  width: 60%;
  flex-direction: column;
  justify-content: space-around;
}
.form-children{
  margin-top: 15px;
}
.btn-submit{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #7D16BF;
  font-size: 18px;
  padding: 10px 15px;
  margin: 15px auto;
  max-width: 50%;
  border: none;
  color: white;
  transition: opacity .3s;
  opacity: .8;
}
.btn-submit:hover{
  opacity: 1;
}
.btn-submit:focus{
  outline: none;
}
